# -----------------------------------------------------
# 1 ENVIRONMENT / OS / IDE ARTIFACTS
# -----------------------------------------------------
.DS_Store
desktop.ini
.vs/
*.tmp
TestResults/
venv/
__pycache__/

# -----------------------------------------------------
# 2 Release/Artifact folder
# -----------------------------------------------------
/releases/**/*

# -----------------------------------------------------
# 3 EXPLICITLY ALLOWED FILES (NEGATION)
# -----------------------------------------------------
# We MUST track the .gitkeep files to version control empty directories
!.gitkeep
